.navbar{
    width: 100%;
    color: white;
    background-color: black;
    padding: 0.5em;
}
body{
    margin: 0;
    background-color: #ebebeb;
}
.img-div{
    border-radius: 0.3em;
}
img.sponsors{
    width: 100%;
    border-radius: 0.3em;
}
.ad{
    border-radius: 0.3em;
}
h1{
    margin: 0;
    padding-left: 0.3em;
}
section{
    margin: 1em;
}
.card{
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(184,184,184,0.35);
    -moz-box-shadow: 2px 2px 12px 0px rgba(184,184,184,0.35);
    box-shadow: 2px 2px 12px 0px rgba(184,184,184,0.35);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card-body{
    flex-direction: column;
    padding-left: 1em;
}
.card span{
}
.sort{
    margin: 1em 0;
}